<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <system.web>

    <authorization>
        <deny users="?" /> <!-- Allow all users -->

            <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>

  </system.web>

    <system.webServer>
        <rewrite>
            <outboundRules>
				<rule name="Replace Robots.txt">
                    <match serverVariable="RESPONSE_X_Robots_Tag" pattern=".*" />
                    <conditions logicalGrouping="MatchAny">
						<add input="{REQUEST_FILENAME}" pattern="\.pdf$" />
						<add input="{REQUEST_FILENAME}" pattern="\.doc$" />
						<add input="{REQUEST_FILENAME}" pattern="\.gif$" />
						<add input="{REQUEST_FILENAME}" pattern="\.jpg$" />
						<add input="{REQUEST_FILENAME}" pattern="\.jpeg$" />
						<add input="{REQUEST_FILENAME}" pattern="\.xls$" />
						<add input="{REQUEST_FILENAME}" pattern="\.aspx$" />
						<add input="{REQUEST_FILENAME}" pattern="\.htm$" />
						<add input="{REQUEST_FILENAME}" pattern="\.html$" />
						<add input="{REQUEST_FILENAME}" pattern="Documents" />
						<add input="{REQUEST_FILENAME}" pattern="LeanProgramme" />
					</conditions>
                    <action type="Rewrite" value="noindex" />
				</rule>
            </outboundRules>
        </rewrite>
    </system.webServer>

</configuration>
