<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <system.web>

    <authorization>
        <deny users="?" /> <!-- Allow all users -->

            <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>

  </system.web>

</configuration>
