/* template styles */
#container
{ width:767px; margin:auto; border:1px solid #f1f1f1; }
/*{ border-left:1px solid #ccc; border-right:1px solid #ccc; width:770px; margin:auto; padding:0px; background-color:#fff; height:auto; }*/
#contentheader 
{
	background-color:#FFFFFF;
	height:150px;
	margin:0px;
	padding:0px;
}
/* 3 column page styles */
#contentleft 
{ width:164px; padding:5px 10px 5px 10px; float:left; }
#contentcenter 
{ width:382px; padding:5px 10px 5px 5px; float:left; }
#contentright 
{ width:164px; padding:5px 10px 5px 10px; float:left; text-align:right; }
/* 2 column page styles (uses #contentleft) 2columnleft.htm */
/* 2 column page styles (uses #contentright) 2columnright.htm */
#content2column
{ width:563px; padding:5px 10px 5px 10px; float:left; }
/* no columns */
#contentarea
{ width:745px; padding:5px 10px 5px 10px; float:left; margin-top:30px; }
/* 3columnindex.htm */
#content 
{ width:164px; padding:5px 10px 5px 10px; float:left; text-align:left; }

/* logo */
#logo
{ float:left; margin-left:3px; margin-top:5px; display:block; }
#logo img
{ border:none; }

/* topnav 
[Senior President | Chief Executive | Accessibility | Contact us | Feedback] */
#topnav
{ text-align:right; font-size:80%; padding-bottom:5px; margin-top:5px; margin-right:0px; color:#fff; background-color:transparent; }
#topnav ul
{ padding:0px; margin:0px; margin-bottom:0px; background-color:transparent; }
#topnav li
{ display:inline; list-style-type:none; padding-right:2px; color:#ccc; background-color:transparent; }
#topnav li.date
{ color:#fff; padding-right:5px; }
#topnav a
{ color:#fff; text-decoration:none; padding:3px; background-color:transparent; }
#topnav a:hover
{ color:#fff; text-decoration:underline; padding:3px; background-color:transparent; }
#topnav img
{ border:1px solid #ccc; vertical-align:middle; }

/* searchbox */
#searchbar
{ color:#666; margin-top:5px; margin-right:5px; }
#searchbar input
{ font-size:80%; }
#searchbar label
{ font-size:80%; }
.search
{ display:none; color:#666; background-color:#f0f0f0; }
form
{ margin:0px; }
label
{ color:#666; font-size:70%; }

/* breadcrumb */
#breadcrumb
{ clear:both; background-color:#FFFFFF; color:#666; font-size:75%; padding:1px 10px 3px 13px; margin-bottom:5px; border-bottom:2px solid #f1f1f1; border-top:2px solid #f1f1f1; }
#breadcrumb a
{ text-decoration:none; background-color:#f1f1f1; color:#069; background-color:transparent;  }
#breadcrumb a:hover
{ text-decoration:underline; background-color:#f1f1f1; color:#9f0000; background-color:transparent;  }
.blue
{ color:#666; font-weight:bold; }

/* mainnav
[Latest news | Background | Working for us | Publications | FAQ | Useful links] */
#mainnav
{ font-size:90%; padding-bottom:5px; margin-top:23px; margin-left:10px; margin-bottom:10px; background-color:transparent; }
#mainnav ul
{ padding:0px; margin:0px; margin-bottom:0px; background-color:transparent; }
#mainnav li
{ display:inline; list-style-type:none; padding-right:2px; color:#666; background-color:transparent; }
#mainnav a
{ text-decoration:none; background-color:transparent; }
#mainnav a:hover
{ text-decoration:none; color:#666; }
#mainnav img
{ border:1px solid #ccc; vertical-align:middle; }
.mainnav 
{ float:left; text-align:center; margin-right:5px; font-size:100%; }
.link1	
{ display:block; color:#666; text-decoration:none; border-bottom:2px solid #c30; padding:5px 7px 5px 7px; }
.link2	
{ display:block; color:#666; text-decoration:none; border-bottom:2px solid #fc0; padding:5px 7px 5px 7px; }
.link3	
{ display:block; color:#666; text-decoration:none; border-bottom:2px solid #693; padding:5px 7px 5px 7px; }
.link4	
{ display:block; color:#666; text-decoration:none; border-bottom:2px solid #09c; padding:5px 7px 5px 7px; }
.link5	
{ display:block; color:#666; text-decoration:none; border-bottom:2px solid #636; padding:5px 7px 5px 7px; }
.link6	
{ display:block; color:#666; text-decoration:none; border-bottom:2px solid #906; padding:5px 7px 5px 7px; }
.link7	
{ display:block; color:#666; text-decoration:none; border-bottom:2px solid #066; padding:5px 7px 5px 7px; }
.link1:hover
{ border:2px solid #c30; padding:3px 5px 4px 5px; }
.link2:hover	
{ border:2px solid #fc0; padding:3px 5px 4px 5px; }
.link3:hover	
{ border:2px solid #693; padding:3px 5px 4px 5px; }
.link4:hover	
{ border:2px solid #09c; padding:3px 5px 4px 5px; }
.link5:hover	
{ border:2px solid #636; padding:3px 5px 4px 5px; }
.link6:hover	
{ border:2px solid #906; padding:3px 5px 4px 5px; }
.link7:hover	
{ border:2px solid #066; padding:3px 5px 4px 5px; }
.link1Selected	
{ color:#666; display:block; padding:3px 5px 4px 5px; border:2px solid #c30; margin-right:5px; }
.link2Selected	
{ color:#666; display:block; padding:3px 5px 4px 5px; border:2px solid #fc0; margin-right:5px; }
.link3Selected	
{ color:#666; display:block; padding:3px 5px 4px 5px; border:2px solid #693; margin-right:5px; }
.link4Selected	
{ color:#666; display:block; padding:3px 5px 4px 5px; border:2px solid #09c; margin-right:5px; }
.link5Selected	
{ color:#666; display:block; padding:3px 5px 4px 5px; border:2px solid #636; margin-right:5px; }
.link6Selected 
{ color:#666; display:block; padding:3px 5px 4px 5px; border:2px solid #906; margin-right:5px; }
.link7Selected 
{ color:#666; display:block; padding:3px 5px 4px 5px; border:2px solid #066; margin-right:5px; }

/* tribunal link hover text on portal homepage */
/* THESE STYLES WERE TAKEN OFF THE SITE ON 06/06/2007 DUE TO THE RECOMMENDATIONS BY THE PLAIN ENGLISH CAMPAIGN
a.screen, a.screen:visited 
{ color:#069; text-decoration:none; position:relative; background-color:transparent;  }
a.screen b 
{ position:absolute; visibility:hidden; width:154px; height:0; }
a.screen b.info
{ position:absolute; visibility:hidden; width:154px; height:0; }
a.screen b strong
{ font-size:120%; color:#fff; margin-top:0px; background-color:transparent; }
a.screen b strong.info
{ font-size:120%; color:#fff; margin-top:0px; background-color:transparent; }
a.screen:hover 
{ text-decoration:none; border:0; color:#9f0000; background-color:transparent; }
a.screen:hover b 
{ visibility:visible; cursor:pointer; color:#666; left:184px; top:0px; font-weight:lighter; color:#fff; background-color:#603; filter:alpha(opacity=75); padding:5px; }
a.screen:hover b.info
{ visibility:visible; cursor:pointer; color:#666; left:184px; top:0px; font-weight:lighter; color:#fff; background-color:#069; filter:alpha(opacity=75); padding:5px; }
a.screen:hover b img 
{ border:0; }*/

/* html formatting styles */
body
{ font-family:Arial, Helvetica, sans-serif; background-color:#fff; margin:0px; padding:0px; }
h1
{ font-size:140%; color:#069; margin-top:0px; font-weight:lighter; background-color:#fff; }
h2
{ font-size:120%; color:#069; margin-top:0px; font-weight:lighter; background-color:#fff; }
h3
{ font-size:100%; color:#069; margin-top:0px; font-weight:lighter; background-color:#fff; }
em
{ font-size:70%; font-style:normal; }
p
{ font-size:80%; color:#666; }
acronym
{ border-bottom:1px dotted #f33; cursor:help; }
a
{ text-decoration:none; color:#069; background-color:#fff; }
a:hover
{ text-decoration:underline; color:#9f0000; }
ul
{ color:#666; }
ul.sitemap
{ list-style-type:none; margin-left:20px; color:#666; font-size:80%; }
ul.nobullet
{ list-style-type:none; margin-left:0px; color:#666; font-size:80%; }
ul.nobullet a
{ text-decoration:none; color:#069; background-color:#fff; }
ul.nobullet a:hover
{ text-decoration:none; color:#9f0000; }
ul.group
{ list-style-type:none; margin-left:0px; color:#666; background-color:#fff; }
ul.group li
{ border:1px solid #ccc; margin-bottom:5px; padding:5px; }
ul.group li h1
{ color:#069; font-weight:lighter; font-size:100%; }
ul.group li a:hover
{ border:1px solid #c60; margin-bottom:5px; padding:5px; }
ul.bullet
{ list-style-type:circle; color:#666; font-size:80%; }
ul li.line 
{ border-bottom:1px solid #e4e4e4; padding-bottom:3px; }
ul li.linered a
{ color:#9f0000; text-decoration:none; }
ul li.linered a:hover
{ color:#9f0000; text-decoration:underline; }
address
{ font-size:80%; color:#666; margin-bottom:10px; font-style:normal; }
.floatright
{ float:right; }

/* formatting */
.subhead
{ font-size:90%; font-weight:bold; color:#666; }
.subhead a
{ color:#666; }
.valign
{ vertical-align:middle; }
.smalltext
{ font-size:70%; }
.noborder
{ border:none; }
.red
{ color:#f00; }
.green
{ color:#3c3; }
.bold
{ color:#666; font-weight:bold; }
.caption
{ font-size:70%; color:#9f0000; margin-top:0px; }
.border
{ border:1px solid #ccc; }
.blue
{ color:#069; background-color:#fff; }
.purple
{ color:#603; background-color:transparent; }

/* tribunal A to Z */
.atoz
{ margin-left:4px; text-align:center; }
.atoz ul
{ margin:0px; }
.atoz li
{ display:inline; }
.atoz li a
{ text-decoration:none; border:1px solid #ccc; padding:4px; }
.atoz li a:hover
{ background-color:#006B98; color:#fff; padding:4px; }

/* CSS for repeater table on the venue finder page */
.repeatertable
{ border:#ccc 1px solid; border-collapse:collapse; width:746px; font-size:80%; margin-top:0px; }
.repeatertable thead th
{ border-bottom:1px solid #ccc; background-color:#603; padding:5px 0px 3px 5px; color:#fff; text-align:left; vertical-align:top; font-weight:lighter; }
.repeatertable tbody th img
{ border:none; }
.repeatertable tbody td
{ border-bottom:1px solid #ccc; padding:5px; color:#000; text-align:left; vertical-align:top; }
.repeatertable tbody td img
{ border:none; vertical-align:middle; text-align:center; }

/* CSS styles for the venue finder page */
.contentmargintop
{ margin-top:35px; }
.redbold
{ color:#f00; font-weight:bold; }
.text
{ font-size:80%; color:#666; }
.gray
{ color:#666; }
.blue
{ color:#069; }

/* CSS for back to top link */	
.top
{ text-align:right; font-size:75%; margin-bottom:7px; }
.top a
{ text-decoration:none; background-color:#fff; color:#9f0000; }
.top a:hover
{ text-decoration:none; color:#069; }
	
/* bottomnav 
[Crown Copyright 2006 | Cymraeg | Freedom of Information | Sitemap] */
.clear
{ clear:both; }
#bottomnav
{ text-align:right; font-size:80%; padding-bottom:10px; margin-top:10px; padding-top:10px; margin-left:7px; border-top:1px solid #f1f1f1;  }
#bottomnav ul
{ padding:0px; margin:0px; margin-bottom:0px; }
#bottomnav li
{ display:inline; list-style-type:none; padding-right:2px; color:#ccc; }
#bottomnav a
{ color:#666; background-color:#fff; text-decoration:none; padding:3px; }
#bottomnav a:hover
{ color:#9f0000; background-color:#fff; text-decoration:underline; padding:3px; }
#bottomnav img
{ border:none; vertical-align:middle; }
	
/* icon links at the bottom of the page */
#iconlinks
	{ text-align:right; font-size:80%; padding-bottom:10px; }
#iconlinks ul
	{ padding:0px; margin:0px; margin-bottom:0px; }
#iconlinks li
	{ display:inline; list-style-type:none; padding-right:2px; color:#ccc; }
#iconlinks a
	{ color:#069; background-color:#fff; text-decoration:none; padding:3px; }
#iconlinks a:hover
	{ color:#9f0000; background-color:#fff; text-decoration:underline; padding:3px; }
#iconlinks img
	{ border:1px solid #ccc; vertical-align:middle; }
	
/* RSS page styles */
.rss
{ width:753px; font-size:80%; margin-top:0px; }
.rss a
{ text-decoration:none; font-size:130%; color:#069; background:transparent; }
.rss a:hover
{ text-decoration:underline; font-size:130%; color:#9f0000; background:transparent; }

/* GOOGLE MAPS styles */
#map
{ border:1px solid #ccc; width:555px; height:250px; }
#map img
{ background-color:transparent; }

/* form-table */
.form-table
{ border: #ccc 1px solid; border-collapse: collapse; }
.form-table tbody th
{ border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; background-color:#f1f1f1; padding:3px 10px 3px 10px; color:#0077aa; text-align:left; font-size:80%; }
.form-table tbody td
{ border-bottom: 1px solid #ccc; padding:3px; padding:6px 6px 6px 6px; color:#666; text-align:left; font-size:80%; }

.advanced-table
{ border: #ccc 1px solid; border-collapse: collapse; }
.advanced-table tbody th
{ border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; background-color:#f1f1f1; padding:3px 10px 3px 10px; color:#0077aa; text-align:left; font-size:100%; }
.advanced-table tbody td
{ border-bottom: 1px solid #ccc; padding:3px; padding:6px 6px 6px 6px; color:#666; text-align:left; font-size:100%; }

/* search-results table */
.search-results-table
{ border: #666 1px solid; border-collapse: collapse; font-size:80%; margin-top:20px; margin-bottom:20px; }
.search-results-table thead th
{ border: #666 1px solid; padding:3px 10px 3px 10px; color:#fff; text-align:center; }
.search-results-table tbody th
{ border: #666 1px solid; background-color:#ccc; padding:3px 10px 3px 10px; color:#fff; text-align:left;}
.search-results-table tbody td
{ border: #999 1px solid;  padding:3px; padding:3px 3px 3px 3px; color:#000; text-align:center; }
/* end values table */

/*.form-table tbody td input
{ margin:3px 3px 3px 3px; padding-left:3px; padding-left:3px; font-size:80%; }
.form-table > tbody > td > select
{ margin:3px 3px 3px 3px; font-size:80%; }
.form-table > tbody > td > textarea
{ margin:3px 3px 3px 3px; padding:3px 3px 3px 3px; font-size:80%; }
.form-table tbody td > input
{ margin:3px 3px 3px 3px; padding-left:3px; padding-left:3px; font-size:80%; }
.form-table tbody td select
{ margin:3px 3px 3px 3px; font-size:80%; }
.form-table tbody td textarea
{ margin:3px 3px 3px 3px; padding:3px 3px 3px 3px; font-size:80%; }*/

/* end values table */

/* percentages */
.percent10
{ width:10%; }
.percent15
{ width:15%; }
.percent20
{ width:20%; }
.percent25
{ width:25%; }
.percent30
{ width:30%; }
.percent35
{ width:35%; }
.percent40
{ width:40%; }
.percent45
{ width:45%; }
.percent50
{ width:50%; }
.percent55
{ width:55%; }
.percent60
{ width:60%; }
.percent65
{ width:65%; }
.percent70
{ width:70%; }
.percent75
{ width:75%; }
.percent80
{ width:80%; }
.percent85
{ width:85%; }
.percent90
{ width:90%; }
.percent95
{ width:95%; }
.percent100
{ width:100%; }
/* end percentages */

.collection
{ text-align:center; vertical-align:middle; }

.noborder
{ border:none; }
.noborder a
{ border:none; }

