<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <extensions>
    <add assembly="AWS.Logger.NLog" />
  </extensions>

  <targets>
    <!-- AWS CloudWatch Target -->
    <target name="aws" xsi:type="AWSTarget" logGroup="${appsetting:AWS.LogGroup}" region="eu-west-2" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${when:when=length('${exception}')>0:Inner=${newline}${exception:format=tostring}}" />
  </targets>

  <rules>
    <!-- Log everything from Info level and above to AWS -->
    <logger name="*" minlevel="Info" writeTo="aws" />
  </rules>
</nlog>