<?xml version="1.0" encoding="utf-8" ?>
<nlog internalLogFile="C:\inetpub\wwwroot\nlog-internal.log" internalLogLevel="Trace"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="AWS.Logger.NLog" />
  </extensions>

  <targets>
    <target name="aws" xsi:type="AWSTarget"
            logGroup="appeals-ecs-log-group"
            region="eu-west-2"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${when:when=length('${exception}')>0:Inner=${newline}${exception:format=tostring}}" />

    <target name="console" xsi:type="Console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />

    <target name="file" xsi:type="File"
            fileName="C:\inetpub\wwwroot\nlog-application.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="aws,console,file" />
  </rules>
</nlog>
