<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <extensions>
    <add assembly="NLog.AWS.Logger" />
  </extensions>

  <targets>
    <target name="file" xsi:type="File" fileName="C:\Log\nlog-application.log" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
    
    <target name="cloudwatch" xsi:type="AWSTarget" 
            logGroup="NLog.AdministrativeAppeals.ApplicationLogs"
            region="eu-west-2"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file,cloudwatch" />
  </rules>
</nlog>
