<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="C:\inetpub\wwwroot\nlog-internal.txt">

  <targets>
    <target name="file" xsi:type="File" fileName="C:\inetpub\wwwroot\nlog-application.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>
