<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriselibrary.configurationManager" type="System.Configuration.IgnoreSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <appSettings>
    <add key="DBConnection" value="Server=RDS_SERVER;Database=RDS_DATABASE_NAME;User ID=RDS_USER_ID;Password=RDS_USER_PASSWORD;Trusted_Connection=False"/>
    <add key="DCA.TribunalsService.Ossc.Web.BaseURL" value="http://localhost/osscstat/"/>
    <add key="DCA.TribunalsService.Ossc.Web.Stylesheet.Href" value="http://www.osscsc.gov.uk/"/>
    <add key="DCA.TribunalsService.Ossc.Web.Search.Grid.PageSize" value="10"/>
    <add key="DCA.TribunalsService.Ossc.Web.DecisionUploadFolder" value="JudgmentFiles/"/>
    <add key="DCA.TribunalsService.Ossc.Web.SupportEmail" value="dts-legacy-apps-support-team@hmcts.net"/>
    <add key="DCA.TribunalsService.Ossc.Web.DisplayError" value="False"/>
    <add key="AWS.LogGroup" value="NLog.AdministrativeAppeals.ApplicationLogs" />
    <add key="NLog.Config" value="NLog.config" />
  </appSettings>
  <system.web>
    <compilation defaultLanguage="vb" debug="true" targetFramework="4.8"/>
    <customErrors mode="RemoteOnly" defaultRedirect="error.aspx">
      <error statusCode="404" redirect="error.aspx"/>
      <error statusCode="500" redirect="error.aspx"/>
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="admin/login.aspx"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en"/>
    <browserCaps>
      <case match="^Mozilla/5\.0 \([^)]*\) (Gecko/[-\d]+)(?'VendorProductToken' (?'type'[^/\d]*)([\d]*)/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)))?">
        browser=Gecko
        <filter>
          <case match="(Gecko/[-\d]+)(?'VendorProductToken' (?'type'[^/\d]*)([\d]*)/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)))">
            type=${type}
          </case>
          <case>
            <!-- plain Mozilla if no VendorProductToken found -->
            type=Mozilla
          </case>
        </filter>
        frames=true
        tables=true
        cookies=true
        javascript=true
        javaapplets=true
        ecmascriptversion=1.5
        w3cdomversion=1.0
        css1=true
        css2=true
        xml=true
        tagwriter=System.Web.UI.HtmlTextWriter
        <case match="rv:(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*))">
          version=${version}
          majorversion=0${major}
          minorversion=0${minor}
          <case match="^b" with="${letters}">
            beta=true
          </case>
        </case>
      </case>
      <!-- AppleWebKit Based Browsers (Safari...) //-->
      <case match="AppleWebKit/(?'version'(?'major'\d?)(?'minor'\d{2})(?'letters'\w*)?)">
        browser=AppleWebKit
        version=${version}
        majorversion=0${major}
        minorversion=0.${minor}
        frames=true
        tables=true
        cookies=true
        javascript=true
        javaapplets=true
        ecmascriptversion=1.5
        w3cdomversion=1.0
        css1=true
        css2=true
        xml=true
        tagwriter=System.Web.UI.HtmlTextWriter
        <case match="AppleWebKit/(?'version'(?'major'\d)(?'minor'\d+)(?'letters'\w*))(.* )?(?'type'[^/\d]*)/.*( |$)">
          type=${type}
        </case>
      </case>
      <!-- Konqueror //-->
      <case match=".+[K|k]onqueror/(?'version'(?'major'\d+)(?'minor'(\.[\d])*)(?'letters'[^;]*));\s+(?'platform'[^;\)]*)(;|\))">
        browser=Konqueror
        version=${version}
        majorversion=0${major}
        minorversion=0${minor}
        platform=${platform}
        type=Konqueror
        frames=true
        tables=true
        cookies=true
        javascript=true
        javaapplets=true
        ecmascriptversion=1.5
        w3cdomversion=1.0
        css1=true
        css2=true
        xml=true
        tagwriter=System.Web.UI.HtmlTextWriter
      </case>
      <!-- Opera //-->
      <case match="Opera[ /](?'version'(?'major'\d+)(?'minor'\.(?'minorint'\d+))(?'letters'\w*))">
        <filter match="[7-9]" with="${major}">
          tagwriter=System.Web.UI.HtmlTextWriter
        </filter>
        <filter>
          <case match="7" with="${major}">
            <filter>
              <case match="[5-9]" with="${minorint}">
                ecmascriptversion=1.5
              </case>
              <case>
                ecmascriptversion=1.4
              </case>
            </filter>
          </case>
          <case match="[8-9]" with="${major}">
            ecmascriptversion=1.5
          </case>
        </filter>
      </case>
    </browserCaps>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <enterpriselibrary.configurationManager applicationName="Application" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
    <configurationSections>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="loggingConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="loggingConfiguration.config"/>
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes/>
        </dataTransformer>
      </configurationSection>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="loggingDistributorConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="loggingDistributorConfiguration.config"/>
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes/>
        </dataTransformer>
      </configurationSection>
    </configurationSections>
    <keyAlgorithmStorageProvider xsi:nil="true"/>
    <includeTypes/>
  </enterpriselibrary.configurationManager>
</configuration>